* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.quadrats {
  width: 200px;
  height: 200px;
}
.quad1 {
  background-color: red;
  position: absolute;
  right: 50%;
  bottom: 50%;
  z-index: 1;
}
.quad2 {
  background-color: blue;
  /* через relativ не працює */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.quad3 {
  background-color: green;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
}
