* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.panelka {
  padding-top: 10%;
  padding-left: 5%;
  width: 30%;
  height: 100vh;
  background: grey;
  transform: translateX(-90%);
  transition: transform 0.5s linear;
  position: fixed;
}
.panelka:hover {
  transform: translateX(0%);
}
li {
  list-style: none;
  display: flex;
  align-items: center;
}
li:not(:last-child) {
  margin-bottom: 20px;
}
.square {
  width: 15px;
  height: 15px;
  background: orange;
  border: black 3px solid;
  transform: rotate(45deg);
  margin-right: 10px;
}
.text {
  text-transform: uppercase;
}
.text:hover {
  color: white;
}
.menuska-text {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: rotate(90deg);
  opacity: 1;
  transition: opacity 0.5s linear;
}
.panelka:hover .menuska-text {
  opacity: 0;
}
