* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mega-quad {
  width: 200px;
  height: 200px;
  background: transparent;
  border: 6px purple double;
  position: relative;
}
.quad {
  width: 50%;
  height: 50%;
  background: blue;
  animation-name: prikolchcik;
  position: absolute;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes prikolchcik {
  0% {
    transform: translate(0, 0);
    background: red;
  }
  25% {
    transform: translateY(100%);
    background: blue;
  }
  50% {
    background: green;
    transform: translateY(100%) translateX(100%);
  }
  75% {
    background: yellow;
    transform: translateX(100%) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
