footer {
  background: #2f303a;
  padding: 60px 0px;
}
.telemail-footer-ul {
  margin-top: 10px;
}
.telemail-footer-ul > li > a > p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.telemail-footer-ul > li:not(:last-child) {
  margin-bottom: 10px;
}
address {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 20px;
}
.logo-footer > p {
  color: #fff;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo-footer > p > span {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.box2 {
  margin-left: 70px;
}
.box2 > p {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.svg-footer {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
}
.box2 > ul {
  display: flex;
}
.box2 > ul > li:not(:last-child) {
  margin-right: 10px;
}
.div-svg {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  border-radius: 50%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-svg:hover {
  background: rgba(33, 150, 243, 1);
}
.div-svg:hover > i {
  color: #fff;
}
/* fonts */
.envelope-font {
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  margin-right: 10px;
}
.links-header > li:hover > i {
  color: #2196f3;
}

.links-header > li:hover > a > p {
  color: #2196f3;
}
.smartphone-svg {
  color: rgba(117, 117, 117, 1);
  margin: 10px;
  font-size: 16px;
}
.svg-font-list {
  color: rgba(175, 177, 184, 1);
  font-size: 20px;
}
.div-teamsvg:hover > i {
  color: #fff;
}
.logo-svgshka {
  font-size: 80px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  &:hover {
    color: #2196f3;
    border: #2196f3 1px solid;
    /* 1px solid */
  }
}

.footer-svgshka {
  color: #fff;
}
.advantages-svgs {
  font-size: 70px;
}
